<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Talk2Learn</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="js/signupLogin.js"></script>
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/ajaxupload.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styl.css">
</head>

<body data-ng-app="czatApka">
  <div data-ng-controller="appCtrlr">
    <nav class="navbar navbar-inverse " role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/logo.png" id="logo_img"/>Talk2Learn</a>
        </div>  <!-- /.navbar header -->

        <!-- COLLAPSE -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- PO ZALOGOWANIU -->
          <ul class="nav navbar-nav" data-ng-show="loggedIn">
        </ul>
        <!-- /.PO ZALOGOWANIU -->

        <!-- NAVBAR RIGHT -->
        <ul class="nav navbar-nav navbar-right" data-ng-hide="loggedIn">
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup">Sign up</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="loggedIn">
          <li ><a href="/">{{username}}</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        <!-- /.NAVBAR RIGHT -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  
    <div id="all_content">
      <div class="jumbotron chatLeft" style="background-color: #fff !important;">
        <h2>Sign up</h2>
        <form action="/signup" method="post">
          <input type="text" placeholder="Login" ng-change="change()" data-ng-model="user.username"
          class="form-control" name="username" required/>
          <span data-ng-show="userExist" style="color:red">The user with the login name already exists</span><br />
          <input type="password" ng-change="changePass()" placeholder="Password"  ng-model="user.password" class="form-control" name="password" required/><br />
          <input type="password" ng-change="changePass()" placeholder="Repeat password" ng-model="user.repeatPassword" class="form-control" name="password" required/>
          <span data-ng-hide="passwordMatch" style="color:red">Passwords do not match</span><br />
          <input type="hidden" name="avatar" value="0"/>
          <br/><br/>
          <input class="btn btn-primary btn-lg" ng-disabled="buttonDisabled" type="submit" value="Sign up"/>
        </form> 
      </div>
    </div>

  </div>
</body>

</html>
